<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset="UTF-8">
	<title>CSD-Courses</title>
	<link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
	<a href="/">
		<h1 class="title-div">CMY School Database</h1>
	</a>
	
	<form class="search-form" action="/scorebystudent" method="get">
		<input type="text" name="stu_id" class="search-input" placeholder="Enter Student ID">
		<button type="submit" class="search-button">Search Student</button>
	</form>
	<form class="search-form" action="/scorebycourse" method="get">
		<input type="text" name="course_id" class="search-input" placeholder="Enter Course ID">
		<button type="submit" class="search-button">Search Course</button>
	</form>
	
	<h2>Courses Information</h2>
	<table>
	<tr><td>ID</td><td>Name</td><td>Time</td><td>Location</td><td>Teacher</td></tr>
	{{courses-arr}}
	</table>
</body>

</html>